
@media  screen and (max-width: 768px){

.fondo {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(45deg, rgb(45, 104, 99), rgb(184, 6, 109), green, rgb(235, 119, 119));
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
} 

.navbar-expand-lg {
    background: linear-gradient(45deg, rgb(45, 104, 99), rgb(184, 6, 109), green, rgb(235, 119, 119));
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
    opacity: 3;
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.navbar-nav li:hover {
    flex: 1;
    background-color: #333;
    color: #fff;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

.row2{
    border: solid;
    border-color: lightcoral;
    text-align: center; 
}



.row3 {
    text-align: center;
    border: double;
    border-radius: 100px;
 }

.row4 {
    text-align: center;
    background-color: rgb(117, 86, 86);
}

.body {
    background: linear-gradient(45deg, rgb(45, 104, 99), rgb(184, 6, 109), green, rgb(235, 119, 119));
}
}




@media screen and (max-width: 1680px) {
    .fondo {
        width: 100%;
        height: 100vh;
        color: #fff;
        background: linear-gradient(45deg, rgb(45, 104, 99), rgb(184, 6, 109), green, rgb(235, 119, 119));
        background-size: 400% 400%;
        position: relative;
        animation: cambiar 10s ease-in-out infinite;
    } 
    
    .navbar-expand-lg {
        background: linear-gradient(45deg, rgb(45, 104, 99), rgb(184, 6, 109), green, rgb(235, 119, 119));
        position: relative;
        animation: cambiar 10s ease-in-out infinite;
        opacity: 3;
    }
    
    @keyframes cambiar {
        0% {
            background-position: 0 50%;
        }
    
        50% {
            background-position: 100% 50%;
        }
    
        100% {
            background-position: 0 50%;
        }
    }
    
    .navbar-nav li:hover {
        flex: 1;
        background-color: #333;
        color: #fff;
        border: 1px solid;
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;
        transition: all 0.5s ease-out;
    }
    
    .row2 {
        border: solid;
        border-color: lightcoral;
        text-align: center;
    }
    
    .row3 {
        text-align: center;
        border: double;
        border-radius: 100px;
     }
    
    .row4 {
        text-align: center;
        background-color: rgb(117, 86, 86);
    }
    
    .body {
        background: linear-gradient(45deg, rgb(45, 104, 99), rgb(184, 6, 109), green, rgb(235, 119, 119));
    }
    

}